[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
jaconv = "*"
jageocoder = {editable = true, path = "."}
deprecated = "*"
docopt = "*"
flask-cors = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[scripts]
format = "autopep8 -ivr --ignore E226,E24,W50,W690,E501 ."
lint = "flake8 --show-source --extend-ignore E501 ."
test = "python -m unittest discover -s tests -p 'test_*.py' -v"