[pipenv]
allow_prereleases = true

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = ">=2.0"
jaconv = "*"
jageocoder = {editable = true, path = "."}
deprecated = "*"
docopt = "*"
flask-cors = "*"
Werkzeug = ">=2.2.3"

[dev-packages]
autopep8 = "*"
flake8 = "*"
certifi = ">=2022.12.07"
setuptools = ">=65.6.1"
sphinx = "*"
sphinx-rtd-theme = "*"

[scripts]
format = "autopep8 -ivr --ignore E226,E24,W50,W690,E501 ."
lint = "flake8 --show-source --extend-ignore E501 ."
test = "python -m unittest discover -s tests -p 'test_*.py' -v"
