[tool.poetry]
name = "jageocoder"
version = "2.1.0rc2"
description = "A Japanese-address geocoder for Python."
authors = ["Takeshi Sagara <sagara@info-proto.com>"]
repository = "https://github.com/t-sagara/jageocoder/"
license = "The MIT License"
readme = "README.md"
documentation = "https://jageocoder.readthedocs.io/"
packages = [
    {include = "jageocoder"},
]
classifiers = [
    "Operating System :: MacOS",
    "Operating System :: Microsoft :: Windows :: Windows 11",
    "Operating System :: POSIX :: Linux",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
]
include = ["itaiji_dic.json", "islands.json"]

[tool.poetry.dependencies]
python = "^3.7"
marisa-trie = "^0.7.8"
jaconv = "^0.3.4"
docopt = "^0.6.2"
deprecated = "^1.2.13"
Werkzeug = ">=2.2.3"
pycapnp = "^1.3.0"
portabletab = ">=0.3.3"
tqdm = "^4.00.0"
rtree = "^1.0.0"
geographiclib = "^2.0"
certifi = ">=2023.7.22"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
flask = "^2.2.5"
flask-cors = "^3.0.10"
sphinx = ">=5.0.0,<6.0.0"
sphinx-rtd-theme = "^1.2.0"
twine = "^4.0.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
jageocoder = "jageocoder.__main__:main"
