certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==44.0.3
Deprecated==1.2.18
docopt-ng==0.6.3
geographiclib==2.0
idna==3.10
marisa-trie==1.2.1
PortableTab==0.3.7
pycapnp==2.0.0
pycparser==2.22
requests==2.32.3
Rtree==1.4.0
tqdm==4.67.1
urllib3==2.4.0
wrapt==1.17.2
zipp==3.21.0
