{% extends 'base.html' %}

{% block title %}利用条件・出典 | Jageocoder{% endblock %}

{% block content %}
<h1>利用データ・出典・利用条件</h1>
<h2>出典および元データに関する利用条件</h2>
<pre>
{{ readme }}
</pre>

<h2>サイトの利用条件</h2>
<p>このサイトは、jageocoder の性能を確認するためのデモサイトであり、
以下のいずれかの目的でのみ利用できるものとします。</p>
<ul>
  <li>jageocoderの性能評価</li>
  <li>住所と経緯度の変換を主目的としないアプリケーションからの呼び出し
  （商用・非商用、公開・非公開は問いません）</li>
</ul>

<h2>免責事項</h2>
<p>本サービスは以下の事項を了解の上でご利用ください。</p>
<ul>
  <li>変換結果の正しさを保証しません。</li>
  <li>利用した結果生じたいかなる不利益・損害に対しても責任を負いません。</li>
  <li>サーバメンテナンスやデータ更新などのため、無断で停止する場合があります。</li>
  <li>サーバの負荷が大きすぎる場合、アクセスを制限することがあります。</li>
</ul>

<h2>個人情報・プライバシー</h2>
<p>本サービスでは、ウェブサーバでアクセスログを記録しています。
  アクセスログには、クライアントのIPアドレス、時刻、リクエストURLが
含まれます。</p>
<p>これらのログは不正利用や不具合発生時の原因調査に利用し、
それ以外の目的で利用したり第三者に提供することはありません。</p>

<h2>その他留意事項</h2>
<p>多数の住所を連続して経緯度に変換したい場合や、プライバシーに配慮が
  必要な住所を変換したい場合、サーバが停止しては困る場合などには、
  <a href="https://github.com/t-sagara/jageocoder">Jageocoder</a> を利用して
専用サーバを立ててご利用ください。</p>

<h2>お問い合わせ</h2>
<p>本サービスに対するお問い合わせは info@info-proto.com までお願いします。</p>
{% endblock %}