<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Jageocoder Demonstration</title>
    <style type="text/css">
      body {
          margin: 1em;
      }
      input#query {
          width: 50%;
      }
      textarea#result_text {
          width: 100%;
      }
    </style>
  </head>
  <body>
    <h1>
      <a href="https://github.com/t-sagara/jageocoder/blob/main/README_ja.md">Jageocoder</a>
      のデモンストレーション</h1>
    <form action="{{ url_for('search') }}" method="GET">
      <input id="query" value="{{ q }}" name="q" placeholder="検索したい住所を入力" />
      <input id="area" value="{{ area }}" name="area"
      placeholder="検索対象（都道府県・市区町村）" />
      <input type="submit" value="検索" /><br />
      小字の省略：
      <input type="radio" name="skip_aza" value="auto"
        {% if skip_aza == 'auto' %}checked="checked"{% endif %}
        />自動判定&nbsp;
      <input type="radio" name="skip_aza" value="on"
        {% if skip_aza == 'on' %}checked="checked"{% endif %}
        />省略する&nbsp;
      <input type="radio" name="skip_aza" value="off"
        {% if skip_aza == 'off' %}checked="checked"{% endif %}
        />省略しない&nbsp;
    </form>

    <p><a href="{{ url_for('index', q=q, skip_aza=skip_aza) }}">
    住所の例に戻る</a></p>

    <h2>ノード属性</h2>
    <ul id="attributes">
      <li>表記： {{ node.name }}</li>
      <li>経度： {{ node.x }}, 緯度： {{ node.y }}</li>
      <li>レベル： {{ node.level }}</li>
      <li>メモ： {{ node.note }}</li>
    </ul>

    <h2>メソッド</h2>
    <ul id="methods">
      <li>都道府県からの表記 (get_fullname)： {{ node.get_fullname() }}</li>
      <li>地理院地図リンク (get_gsimap_link)：
        <a href="{{ node.get_gsimap_link() }}" target="_gsimap">{{ node.get_gsimap_link() }}</a>
      </li>
      <li>Google地図リンク (get_googlemap_link)：
        <a href="{{ node.get_googlemap_link() }}" target="_googlemap">{{ node.get_googlemap_link() }}</a>
      </li>
      <li>都道府県名 (get_pref_name)： {{ node.get_pref_name() }}</li>
      <li>都道府県コード (get_pref_jiscode)：
        <a href="{{ url_for('search_jisx0401', code=node.get_pref_jiscode()) }}">
        {{ node.get_pref_jiscode() }}</a></li>
      <li>都道府県団体コード (get_pref_local_authority_code)： {{ node.get_pref_local_authority_code() }}</li>
      <li>市区町村名 (get_city_name)： {{ node.get_city_name() }}</li>
      <li>市区町村コード (get_city_jiscode)：
        <a href="{{ url_for('search_jisx0402', code=node.get_city_jiscode()) }}">
        {{ node.get_city_jiscode() }}</a></li>
      <li>市区町村団体コード (get_city_local_authority_code)： {{ node.get_city_local_authority_code() }}</li>
      <li>アドレス・ベース・レジストリ 字ID (get_aza_id)：
      <a href="{{ url_for('search_aza_id', aza_id=node.get_aza_id()) }}">
      {{ node.get_aza_id() }}</a></li>
      <li>字コード（市区町村コード+字ID） (get_aza_code)：
      <a href="{{ url_for('get_aza', code=node.get_aza_code()) }}">
      {{ node.get_aza_code() }}</a></li>
      <li>字表記 (get_aza_names)： {{ node.get_aza_names() }}</li>
      <li>郵便番号 (get_postcode)：
      <a href="{{ url_for('search_postcode', code=node.get_postcode()) }}">
      {{ node.get_postcode() }}</a></li>
    </ul>

    <h2>関係</h2>
    <ul id="relations">
      <li>親ノード：
        {% if node.id == -1 %}
          無し
        {% else %}
          <a href="{{ url_for('show_node',
           id=node.parent.id, q=q, skip_aza=skip_aza, area=area) }}">
            {{ node.parent.name }}
          </a>
        {% endif %}
      </li>
      <li>子ノード：
        {% if node.children.count() > 0 %}
          {% for child in node.children %}
            <a href="{{ url_for('show_node',
            id=child.id, q=q, skip_aza=skip_aza, area=area) }}">
              {{ child.name }}
            </a>&nbsp;
          {% endfor %}
        {% else %}
          無し
        {% endif %}
      </li>
    </ul>

  </body>
</html>
