{% extends 'base.html' %}

{% block title %}WebAPI | Jageocoder{% endblock %}

{% block content %}
<h1>住所ジオコーディングAPI</h1>
<p>住所から緯度経度を取得します。</p>
<p>例：<code>東京都新宿区西新宿2丁目8-1</code>を検索</p>
<pre>GET https://jageocoder.info-proto.com/geocode?addr=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%96%B0%E5%AE%BF%E5%8C%BA%E8%A5%BF%E6%96%B0%E5%AE%BF2%E4%B8%81%E7%9B%AE8%E2%88%921</pre>
<h2>レスポンス例</h2>
<pre>[{
  "matched": "東京都新宿区西新宿2丁目8−",
  "node": {
    "fullname": ["東京都", "新宿区", "西新宿", "二丁目", "8番"],
    "id": 12299851,
    "level": 7,
    "name": "8番",
    "note": null,
    "x": 139.691778,
    "y": 35.689627
  }
}]</pre>
<h2>レスポンス項目</h2>
<ul>
  <li><dl>
    <dt>matched</dt>
    <dd>住所として解析できた文字列。</dd>
  </dl></li>
  <li><dl>
    <dt>node.fullname</dt>
    <dd>一致した住所の要素のリスト。</dd>
  </dl></li>
  <li><dl>
    <dt>node.id</dt>
    <dd>一致した末尾の住所要素のID。ただしこの ID は辞書の内部IDであり、
      辞書のバージョンによって変化するので、住所の識別子としては
    利用できません。</dd>
  </dl></li>
  <li><dl>
    <dt>node.level</dt>
    <dd>一致した住所レベル（1:都道府県, 2:郡, 3:市町村・23特別区,
    4:政令市の区, 5:大字, 6:字・丁目, 7:街区・地番, 8:住居番号・枝番）。</dd>
  </dl></li>
  <li><dl>
    <dt>node.name</dt>
    <dd>一致した末尾の住所要素の表記。</dd>
  </dl></li>
  <dl><li>
    <dt>node.note</dt>
    <dd>一致した末尾の住所要素の注記。</dd>
  </li></dl>
  <dl><li>
    <dt>node.x</dt>
    <dd>10進度数で表現した経度。</dd>
  </li></dl>
  <dl><li>
    <dt>node.y</dt>
    <dd>10進度数で表現した緯度。</dd>
  </li></dl>
</ul>

<h1>リバース住所ジオコーディングAPI</h1>
<p>緯度経度を指定し、その周辺の住所（字・町丁目レベル）を取得します。</p>
<p>例：<code>北緯35.689472度, 東経139.69175度</code>を検索</p>
<pre>GET https://jageocoder.info-proto.com/rgeocode?lat=35.689472&lon=139.69175</pre>
<h2>レスポンス例</h2>
<pre>[{
  "candidate": {
    "fullname": [
      "東京都",
      "新宿区",
      "西新宿",
      "二丁目"
    ],
    "id": 12299841,
    "level": 6,
    "name": "二丁目",
    "note": "postcode:1600023",
    "x": 139.691774,
    "y": 35.68945
  },
  "dist": 3.2676564373748427
},
{
  "candidate": {
    "fullname": [
      "東京都",
      "新宿区",
      "西新宿",
      "四丁目"
    ],
    "id": 12301009,
    "level": 6,
    "name": "四丁目",
    "note": "postcode:1600023",
    "x": 139.68762,
    "y": 35.68754
  },
  "dist": 430.93323436646347
},
{
  "candidate": {
    "fullname": [
      "東京都",
      "新宿区",
      "西新宿",
      "六丁目"
    ],
    "id": 12300709,
    "level": 6,
    "name": "六丁目",
    "note": "postcode:1600023",
    "x": 139.690969,
    "y": 35.693426
  },
  "dist": 444.3681993030674
}]</pre>
<h2>レスポンス項目</h2>
<ul>
  <li><dl>
    <dt>dist</dt>
    <dd>指定した点から候補住所の代表点までの距離（メートル）。</dd>
  </dl></li>
  <li><dl>
    <dt>candidate.fullname</dt>
    <dd>候補住所の要素のリスト。</dd>
  </dl></li>
  <li><dl>
    <dt>candidate.id</dt>
    <dd>候補住所要素のID。ただしこの ID は辞書の内部IDであり、
      辞書のバージョンによって変化するので、住所の識別子としては
    利用できません。</dd>
  </dl></li>
  <li><dl>
    <dt>candidate.level</dt>
    <dd>候補住所の住所レベル（1:都道府県, 2:郡, 3:市町村・23特別区,
    4:政令市の区, 5:大字, 6:字・丁目, 7:街区・地番, 8:住居番号・枝番）。</dd>
  </dl></li>
  <li><dl>
    <dt>candidate.name</dt>
    <dd>候補住所要素の表記。</dd>
  </dl></li>
  <dl><li>
    <dt>candidate.note</dt>
    <dd>候補住所要素の注記。</dd>
  </li></dl>
  <dl><li>
    <dt>candidate.x</dt>
    <dd>10進度数で表現した経度。</dd>
  </li></dl>
  <dl><li>
    <dt>candidate.y</dt>
    <dd>10進度数で表現した緯度。</dd>
  </li></dl>
</ul>
{% endblock %}
